@import url('./normilize.css');
html{
    font-size: 10px;
}
.aling{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.4rem;
    font-weight: 700;
}
.style-block{
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.style-p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}
.style-text{
    display: none;
    font-size: 1.4rem;
    font-weight: 400;
}
.style-div:hover .style-text{
    display: block;
}